.user_tag {
    background-color: #EEF1F7;
    p#user{
        color: black;
    }
}

.spec_tag {
    background-color: #b8daff;
    p#spec {
        color: #004085;
    }
}

.super_tag {
    background-color: #c3e6cb;
    p#super {
        color: #155724;
    }
}

.admin_tag {
    background-color: #ffeeba;

    p#admin{
        color: #856404;
    }
}